*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.main{
	margin-top: 15px;
	margin-bottom: 5px; 
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	height: 95vh;
	width: 90%;
}

.products{
	width: 75%;
	display: flex;
	flex-wrap: wrap;

}

.products>div{
	margin-bottom: 5px;
	margin-left: 10px; 
}

.cart{
	/*margin-right: 50px;*/
	position: relative;
	width: 25%;
	height: 100%;
	background-color: #ffff;
	box-shadow: 3px 3px 5px 6px #ccc;
}

.cart_content{
	display: flex;

}

.cart_content p{
	margin: 0;
}

